@model Administration.Models.Departments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments Details</h2><hr />

<div class="container">
    <h5>Select a department ...</h5><br />

    @using (Ajax.BeginForm("Details","Department", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "div2", HttpMethod = "POST" }))
    {

        <div class="row col-sm-12">
            <div class="col-sm-6 ">
                @Html.DropDownListFor(a => a.DepartmentId, ViewBag.deps as SelectList, new { @class = "form-control" })
            </div>
        </div>
                    <div class="row container col-sm-offset-0" style="margin-left:0.25%">
                        <div>
                            <input type="submit" value="Show" class="btn btn-warning" style="margin-top:1%;margin-bottom:1%" />
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index", "Department", new { @class = "btn btn-info " })
                        </div>
                    </div>
    }

</div>
<br /><br />
<div id="div2">
</div>